/* #region RESET*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

a {
    color: var(--link-color);
}

[v-cloak] {
    display: none;
}

/* #endregion RESET */

/* #region TYPOGRAPHY */

.biggerFont,
.biggerFont button {
    font-size: 20px;
}

.biggerFont .last-message,
.biggerFont .last-message-time,
.biggerFont .last-access,
.biggerFont a,
.biggerFont input::placeholder {
    font-size: 16px !important;
}

.biggerFont i {
    font-size: 24px;
}



.where-is-the-bottom {
    width: 100%;
    height: 20px;
}

.main-container {
    color: var(--text-color-primary);
}

.light-theme {
    --bg-primary: rgb(0, 151, 136);
    --bg-secondary: rgba(222, 219, 210, 1);
    --border-primary: #c4c4c4;
    --icons-color: #adadad;
    --icons-border-color: #e7e7e7;
    --bg-dashboard: #EAEAEA;
    --bg-notification: #8edafa;
    --link-color: #3e7795;
    --textbar-i-color: #6B7376;
    --sent-bg: #d5f9ba;
    --received-bg: #ffff;
    --text-color-primary: rgb(0, 0, 0);
    --text-color-secondary: #b4b4b4;
    --contact-list-bg: #ffff;
    --input-bg: #ffff;
    --placeholder-color: #6B7376;
    --bg-chat-image: url(../img/mine.jpg);
    --contact-hover-bg: #EAEAEA;
    --scrollbar-color: rgba(255, 255, 255, 0.5);
    --options-bg: #ffff;
    --splashscreen: url(../img/splash_screen.jpg);
    --switch-bg: rgb(143, 231, 212);
}

.dark-theme {
    --bg-primary: rgb(30, 43, 51);
    --bg-secondary: rgb(41, 41, 41);
    --border-primary: #38404b;
    --icons-color: #c4c4c4;
    --icons-border-color: #727272;
    --bg-dashboard: #25303a;
    --bg-notification: #284a58;
    --link-color: #a9bfca;
    --textbar-i-color: #c5d3d8;
    --sent-bg: #395764;
    --received-bg: rgb(77, 88, 107);
    --text-color-primary: #ffff;
    --text-color-secondary: #b9b9b9;
    --contact-list-bg: #343a41;
    --input-bg: rgb(75, 82, 90);
    --placeholder-color: #dadada;
    --bg-chat-image: url(../img/mine-inverted.jpg);
    --contact-hover-bg: #272c31;
    --scrollbar-color: rgba(119, 142, 158, 0.5);
    --options-bg: #283d46;
    --splashscreen: url(../img/splash_screen.jpg);

}

::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: .3125rem;
}


.background {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: var(--bg-primary);
    background: linear-gradient(180deg, var(--bg-primary) 20%, var(--bg-secondary) 20%);
}



/* #endregion TYPOGRAPHY */

/* #region COMMON */

.received,
.sent {
    padding: .9375rem .9375rem 0 .9375rem;
    border-radius: .625rem;
    width: 40%;
    margin: .3125rem 0;
    position: relative;
}

.sent {
    background-color: var(--sent-bg);
    align-self: flex-end;
}

.received {
    background-color: var(--received-bg)
}

.received-overlay {
    background: linear-gradient(90deg, rgba(52, 52, 52, 0) 70%, var(--received-bg) 85%);
}

.sent-overlay {
    background: linear-gradient(90deg, rgba(52, 52, 52, 0) 70%, var(--sent-bg) 85%);
}

/* #endregion COMMON */

/* #region UTILITIES */

.pic-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.pic-container img {
    object-fit: cover;
}

.control-icons {
    color: var(--icons-color);
    font-size: 1.25rem;
}

.relative-wrap {
    height: 1em;
    position: relative;
}

.absolute-wrap {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-options,
.contact-options {
    position: absolute;
    bottom: -5.625rem;
    right: 1.875rem;
    z-index: 999;
    padding: 1.25rem;
    background-color: var(--options-bg);
    border-radius: .3125rem;
    box-shadow: .0625rem .0625rem .625rem rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.contact-options {
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color-primary);
    font-family: 'Lato', sans-serif;

}

.hide-element {
    opacity: 0 !important;
}

.form-switch label {
    color: rgb(240, 240, 240);
}

.form-switch .form-check-input {
    box-shadow: none;
}

.form-switch .form-check-input:checked {
    background-color: var(--switch-bg);
    border-color: var(--switch-bg);

}

/* #endregion UTLITIES */

/* #region MAIN */

.main-container {
    height: 100vh;
}

.main-container .dashboard {
    background-color: white;
    position: relative;
    height: 90%;
    width: 80%;
    background-color: var(--bg-dashboard);
}

.main-container .dashboard .splash-screen-container {
    position: absolute;
    background-color: white;
    z-index: 99999999;
    inset: 0 0 0 0;
    opacity: 1;
    transition: opacity 1s;
    pointer-events: none;
    background-image: var(--splashscreen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.main-container .dashboard .col-left {
    display: flex;
    width: 35%;
    height: 100%;
    border-right: .0625rem solid var(--border-primary);
}

.main-container .dashboard .col-right {
    display: flex;
    width: 65%;
    height: 100%
}

.main-container .dashboard .col-left .notification-alert {
    height: 80px;
    background-color: var(--bg-notification);
}

.main-container .dashboard .col-left .notification-alert .fa-bell-slash {
    background-color: white;
    border-radius: 50%;
    padding: 1.25rem 1.125rem;
    color: var(--bg-notification);
}

.main-container .dashboard .col-left .notification-alert .notification-infos a {
    font-size: .875rem;
    display: inline-block;
}

.main-container .dashboard .col-left .input-bar-container {
    height: 50px;
    width: 100%;
}

.main-container .dashboard .col-left .input-bar-container .input-bar {
    background-color: var(--input-bg);
    width: 100%;
    border-radius: 0 .125rem .125rem 0;
}

.main-container .dashboard .col-left .input-bar-container .input-bar .icon {
    border-right: .0625rem solid var(--icons-border-color);
    height: 100%;
}

.main-container .dashboard .col-left .input-bar-container .input-bar .icon .fa-magnifying-glass,
.main-container .dashboard .col-left .add-contact i {
    color: var(--icons-color);

}

.main-container .dashboard .col-left .input-bar-container .input-bar .input {
    flex-grow: 1;

}

.main-container .dashboard .col-left .input-bar-container .input-bar .input input,
.main-container .dashboard .col-left .add-contact-container input {
    color: var(--text-color-primary);
    width: 100%;
    font-size: .875rem;
    border: none;
    display: block;
    height: 100%;
    outline: 0;
    background-color: var(--input-bg);
}

.main-container .dashboard .col-left .input-bar-container .input-bar .input input::placeholder,
.main-container .dashboard .col-left .add-contact-container input::placeholder {
    color: var(--placeholder-color);
}

.main-container .dashboard .col-left .contacts-list {

    background-color: var(--contact-list-bg);
    overflow-y: scroll;
    flex-grow: 1;
}

.main-container .dashboard .col-left .contacts-list .user-info {
    border-bottom: .0625rem solid var(--bg-dashboard);
    cursor: pointer;
}

.main-container .dashboard .col-left .contacts-list .user-info .pic-container {
    width: 60px;
    height: 60px;
}

.main-container .dashboard .col-left .contacts-list .user-info .user-name {
    white-space: nowrap;
    padding-right: .3125rem;
}

.main-container .dashboard .col-left .contacts-list .user-info:hover {
    background-color: var(--contact-hover-bg);
}

.main-container .dashboard .col-left .contacts-list .user-info:last-child {
    border-bottom: none;
}

.main-container .dashboard .col-left .add-contact-container {
    width: 100%;
    background-color: var(--bg-dashboard);
}



.main-container .dashboard .col-left .contacts-list .chat-info,
.main-container .dashboard .col-right .contact-info .chat-info {
    flex-grow: 1;
}

.main-container .dashboard .col-left .contacts-list .user-info .last-message,
.main-container .dashboard .col-left .contacts-list .last-message-time,
.main-container .dashboard .col-right .contact-info .chat-info .last-access {
    color: var(--text-color-secondary);
    font-size: .75rem;
}


.main-container .dashboard .col-right .contact-info .fa-chevron-left {
    color: var(--border-primary);
    display: none;
    cursor: pointer;

}

.main-container .dashboard .col-right .contact-info .fa-ellipsis-vertical {
    position: relative;
    cursor: pointer;
}

.main-container .dashboard .col-right .messages-board {
    flex-grow: 1;
    background-image: var(--bg-chat-image);
    overflow: hidden;
}

.main-container .dashboard .col-right .text-bar .fa-face-smile,
.main-container .dashboard .col-right .text-bar .fa-microphone,
.main-container .dashboard .col-right .text-bar .fa-paper-plane {
    color: var(--textbar-i-color);
    font-size: 1.5rem;
}

.main-container .dashboard .col-right .text-bar .fa-paper-plane {
    margin-left: -0.375rem;
    cursor: pointer;
}

.main-container .dashboard .col-right .messages-board .board-wrapper {

    width: 100%;
    height: 100%;
}

.main-container .dashboard .col-right .messages-board .padded-container {
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    overflow-y: scroll;
}

.main-container .dashboard .col-right .messages-board .padded-container .message .current-message-time {
    font-size: .625rem;
    text-align: end;
    color: var(--text-color-secondary);
    padding: .3125rem 0;
}

.main-container .dashboard .col-right .messages-board .padded-container .message .background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: .625rem;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.1s;
}

.main-container .dashboard .col-right .messages-board .padded-container .message:hover .background-overlay,
.main-container .dashboard .col-right .messages-board .padded-container .message:hover .fa-chevron-down {
    opacity: 1;
}

.main-container .dashboard .col-right .messages-board .padded-container .message .fa-chevron-down {
    position: absolute;
    right: .3125rem;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--icons-color);
    opacity: 0;
    transition: opacity 0.1s;
    cursor: pointer;

}

.main-container .dashboard .col-right .text-bar input {
    color: var(--text-color-primary);
    flex-grow: 1;
    border-radius: .3125rem;
    border: none;
    padding: .875rem;
    display: block;
    height: 100%;
    outline: 0;
    background-color: var(--input-bg);
}

.main-container .dashboard .col-right .text-bar input::placeholder {
    color: var(--placeholder-color);
}

/* #endregion MAIN */

/* #region MEDIA QUERIES */


@media screen and (max-width: 992px) {

    .main-container .dashboard .col-left,
    .main-container .dashboard .col-right {
        width: 100%;
    }

    .main-container .dashboard .col-left {
        border-right: none;
    }

    .main-container .dashboard .col-right .contact-info .fa-chevron-left {
        display: block;
    }

}

/* #endregion MEDIA QUERIES */